$font: 'Roboto', sans-serif;
$bg-gradient: rgb(63,209,251) linear-gradient(90deg, rgba(63,209,251,1) 0%, rgba(85,70,252,1) 64%);
$white: #fff;
$black: #000;
$btn-bg: linear-gradient(to right, #03A9F4, #1E88E5);
$btn-hover: linear-gradient(to right, #0594d7, #0b75d3);
$completed: #d5d5d5;
$close: #CF0A0A;